.user-page {
    font-family: "Raleway", sans-serif;
}

main {
    padding-top:80px;
}

.content-row {
    margin-top:60px;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    main {
        padding-top:115px;
    }
}

.card > a > img {
    width:100%;
}

.user-page > .jumbotron {
    max-height:600px;
    overflow: auto;
}

.masonry-grid {

}

.masonry-item {
    display: block;
    float:left;
    margin: 10px 0;
}

.event-content img {
    width: 100%;
}